<html>
    <head>
        <style>
         
        p {
            text-align:justify;
            font-size:11px;
        }

        h3{
            font-size: 18px;
        }

        .nombre-contrato{
            padding-top: 2px
        }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <img src="/home/chinano/Programming/gpe_servers/test_folder/res/gpe_logo_light.png" alt="" width='100'></td>
                <td>
                    <table>
                        <tr><td colspan="3">CONTRATO INDIVIDUAL POR TIEMPO DETERMINADO</td></tr>
                        <tr>
                            <td>Version:</td>
                            <td>Fecha de aprobacion:</td>
                            <td rowspan="2"><u>0712-00-11-R</u></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>11/Sep/2020</td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <p>
        En {{datos.ciudad}}, a {{datos.hoy}} comparecen por una parte GPE SERVERS S. DE R.L. DE C.V., 
        a quien en lo sucesivo y para comodidad de la redacción se le denominará "EL PATRON" y por otra parte el (la) señor(ita)
        {{datos.nombre_empleado}} por sus propios derechos, a quien en lo sucesivo se le denominará  "EL TRABAJADOR" a fin de celebrar 
        un contrato individual de trabajo por Tiempo Determinando (3 meses a partir de el día de hoy) al tenor de las siguientes declaraciones 
        y cláusulas:
        </p>
        <h3>DECLARACIONES</h3>
        <p>
        I.- Declara   GPE SERVERS S. DE R.L. DE C.V., ser una compañía dedicada al servicio de pintado de piezas para las industrias eléctricas y automotriz, con domicilio en calle Pedro Meneses Hoyos #8250 en la Colonia Partido Iglesias, de ésta Ciudad, con personalidad debidamente estructurada y de acuerdo a las Leyes Mexicanas y con Registro Federal de Causantes GSE170905DE4, así mismo, declara estar facultado por citada empresa para contratar personal.
        </p>
        <p>
        II.-Declara "EL TRABAJADOR" llamarse {{datos.nombre_empleado}}, Mexicano(a), originario(a) de {{datos.origen_empleado}}, de {{datos.edad_empleado}} años de edad,  con fecha de nacimiento el día {{datos.nacimiento_empleado}}, con domicilio en {{datos.domicilio_empleado}} en {{datos.ciudad_residencia_empleado}}.
        </p>
        <p>
        III.- Ambas partes están de acuerdo en celebrar el presente Contrato Individual de Trabajo por Tiempo Determinado al tenor de las siguientes:
        </p>
        <h3>CLÁUSULAS</h3>
        <p>
        PRIMERA: "EL PATRON" contrata a "EL TRABAJADOR" para que bajo su dirección y dependencia preste sus servicios personales como
        {{datos.puesto_empleado}} así como para desarrollar las funciones propias para las que se le contraten, manifestando "EL TRABAJADOR": 
        tener los conocimientos, capacidad y aptitud necesarias para la realización de estas labores obligándose a desarrollar siempre su trabajo 
        con el esmero y eficacia requeridos para el desempeño de sus servicios contratados se hacen en forma enunciativa y no limitativa, por lo tanto 
        "EL TRABAJADOR" deberá  desempeñar todas sus labores anexas y conexas con su obligación principal debiendo realizarlas con el mejor esmero
        y eficacia posibles y en forma, tiempo y lugar que indique " EL PATRON " o sus representantes, quedando labores que deba realizar 
        dentro de aquellas que son materia de este contrato sin que el trabajador pueda negarse a pasar de una labor a otra o de  un lugar a 
        otro dentro de las diversas instalaciones de la empresa. Además "EL TRABAJADOR" se obliga a realizar cualquier otro trabajo y a auxiliar en sus 
        labores a los demás compañeros de acuerdo con las instrucciones mencionadas conexas y accesorias a sus obligaciones principales, aun cuando 
        accidentalmente hubieren de desempeñarse fuera del lugar de trabajo.  Así como también está obligado a usar debidamente el equipo de seguridad 
        que le sea suministrado para realizar sus labores según el área de trabajo que le sea asignada.
        </p>
        <p>
        SEGUNDA.- Este contrato se celebrará por Tiempo Determinado, no podrá modificarse, suspenderse o rescindirse si no en los casos y condiciones 
        especificadas en la Ley Federal del Trabajo. No obstante "EL PATRON" comunica a el "TRABAJADOR" que la temporalidad del presente contrato obedece
        a la cantidad de trabajo por desempeñar, cualquier modificación en este sentido podrá ser razón para dar por término el presente contrato sin necesidad
        de cuplir el periodo descrito.
        </p>
        <p>
        TERCERA.- " EL TRABAJADOR " se obliga a prestar los servicios contratados en el lugar o lugares que " EL PATRON " o sus representantes lo indiquen
        quedando sometido a la autoridad de este en todo lo concerniente al Trabajo.
        </p>
        <p>
        CUARTA.- La jornada semanal de trabajo será de 48 (CUARENTA Y OCHO) horas, gozando de un descanso de 40 minutos diarios para tomar sus alimentos, 
        este último no forma parte de la Jornada de Trabajo, " EL TRABAJADOR " otorga su expreso consentimiento para que "EL PATRON" conforme a sus 
        necesidades y en los términos de lo dispuesto por el Art. 59 de la Ley Federal de Trabajo, distribuya dentro de la jornada de trabajo que presta 
        de Lunes a Viernes  a fin de permitir el descanso de los días SABADOS Y DOMINGOS.
        </p>
        <p>
        QUINTA.- Queda expresamente estipulado que en virtud de lo expuesto en la cláusula que antecede, los días Domingos se computarán para los efectos 
        de vacaciones como los días de Trabajo, de igual manera, en caso de ausencias durante la jornada señalada, será objeto de deducción proporcional 
        correspondiente a ese día. “EL TRABAJADOR " otorga su expreso consentimiento para que conforme a las necesidades de producción que puedan llegar a 
        presentarse, sea cambiado el turno cuando así se lo notifique " EL PATRON ".
        </p>
        <p>
        SEXTA.- El presente contrato se celebrará por tiempo indeterminado y  podrá ser rescindido sin responsabilidades para " EL PATRON " cuando el 
        trabajador incurra en cualesquiera de las causales previstas por el Art. 47 de la Ley Laboral o bien incurra en violación a las disposiciones 
        establecidas en los  Art. 47 de la Ley Laboral o bien incurra en violación a las disposiciones establecidas en los Art. 134 y 135 de la Ley Laboral.
        </p>
        <p>
        SEPTIMA.- Ambas partes convienen que por concepto de salario, "EL PATRON" pagará a "EL TRABAJADOR" por sus servicios en los términos de este contrato 
        la cantidad de <b>${{datos.salario_empleado}} - ({{datos.salario_texto_empleado}})</b> en la inteligencia de que el pago del salario se hará los días 
        Viernes de cada semana, precisamente en el lugar donde desempeña sus labores, durante la jornada de trabajo estando obligado " EL TRABAJADOR" a firmar 
        las constancias de pago respectivas.
        </p>
        <p>
        OCTAVA.- Cuando por circunstancias especiales debe prolongársela Jornada de Trabajo, " EL TRABAJADOR' estará obligado a laborar el tiempo que se ordene
        en los términos del Artículo 66 de la Ley  Federal de Trabajo.
        </p>
        NOVENA.- Las faltas de asistencia sólo se justificarán con la incapacidad que legalmente expida el Instituto Mexicano del Seguro Social  y no serán 
        aceptadas ni servirán para justificar  la falta de asistencia las constancias expedidas por otros médicos, por lo que " EL TRABAJADOR" obliga a dar aviso 
        de inmediato a " EL PATRON " de las causas por las cuales falte a su trabajo dentro de las 24 horas siguientes, en el entendido que de no hacerlo, su ausencia
        se considera como falta injustificada.
        <p>
        DECIMA.- " EL TRABAJADOR" disfrutará de las vacaciones que le correspondan en los términos del Art. 76 de la Ley Federal del Trabajo, conviniéndose que
        el " EL PATRON " determinará a la fecha de inicio y terminación de vacaciones de conformidad con lo previsto en la misma.
        </p>
        <p>
        DECIMA PRIMERA.- En todo lo relativo a enfermedades naturales y riesgos profesionales, las partes estarán a lo dispuesto por la Ley del Seguro Social.
        </p>
        <p>
        DECIMA SEGUNDA.- Son días de descanso obligatorio con goce de sueldo íntegro, los que señala la Ley Federal de Trabajo en su Art. 74.
        </p>
        <p>
        DECIMA TERCERA.- " EL TRABAJADOR" se obliga a asistir puntualmente a los cursos de capacitación y adiestramiento que se realicen conforme a la Ley y en
        la misma forma se obliga a acatar las disposiciones que sobre seguridad e higiene determine la comisión correspondiente o las autoridades del ramo, en 
        la inteligencia que de no hacerlo será objeto de sanción que podrá ser desde amonestación verbal hasta la rescisión de su contrato de trabajo sin responsabilidad 
        alguna para "EL PATRON".
        </p>
        <p>
        DECIMA CUARTA.- Ambas partes manifiestan que para los efectos legales a que haya lugar queda establecido que "EL TRABAJADOR" entró a prestar sus servicios en la 
        Empresa el día <b><u>{{datos.fecha_contratacion}}</u></b>, y que además en este momento recibe una copia del presente contrato el cual fue revisado por las 
        partes y manifiestan que todos los datos asentados en el mismo son correctos y además se obliga "EL TRABAJADOR" a que si por cualquier motivo cambiare de domicilio
        lo hará saber a "EL PATRON" oportunamente, bajo el entendido que de no hacerlo, cualquier notificación que se le dirija a "EL TRABAJADOR" se hará en el último 
        domicilio que " EL PATRON" tenga registrado y surtirá plenos efectos.
        </p>
        <p>
        DECIMA QUINTA.-  El presente contrato temporal estará sujeto a terminación si se presenta la causa de terminación establecida por el Art. 53, Fracción II de la 
        Ley Federal del Trabajo.
        </p>
        <p>
         DECIMA SEXTA.- Las partes convenientes que todo lo no previsto en el presente contrato se regirá por la Ley Federal del Trabajo y para todo lo que se refiere a 
         la interpretación, ejecución y cumplimiento del mismo se someterán expresamente a los tribunales competentes de la Ciudad de {{datos.ciudad}}
        </p>
        <p>
        LEIDO,  que fue por ambas partes este contrato, ante los testigos que al final se expresan lo firmaron por duplicado el mismo día de su fecha.
        </p>
        <table>
            <tr>
                <td>APODERADO LEGAL</td>
                <td></td>
                <td>"EL TRABAJADOR"</td>
            </tr>
            <tr></tr>
            <tr>
                <td><hr></td>
                <td></td>
                <td><hr></td>
            </tr>
            <tr>
                <td class="nombre-contrato">ING. ENRIQUE PEREA GONZALEZ</td>
                <td></td>
                <td class="nombre-contrato">{{datos.nombre_empleado}}</td>
            </tr>
            <tr>
                <td>TESTIGO 1</td>
                <td></td>
                <td>TESTIGO 2</td>
            </tr>
            <tr></tr>
            <tr>
                <td><hr></td>
                <td></td>
                <td><hr></td>
            </tr>
            <tr>
                <td class="nombre-contrato">ROSA ISELA ARMENDARIZ AMAYA</td>
                <td></td>
                <td class="nombre-contrato">JUAN MANUEL DURAN SALAZAR</td>
            </tr>
        </table>
    </body>
</html>
